* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Eurostyle MN";
  src: url("./fonts/eurostile-mn-extended-bold.ttf");
}
@font-face {
  font-family: "CeraPro-Black";
  src: url("./fonts/CeraPro-Black.ttf");
}
@font-face {
  font-family: "Codec Pro";
  src: url("./fonts/FontsFree-Net-CodecPro-Regular.ttf");
}
@font-face {
  font-family: "Codec Pro Bold";
  src: url("./fonts/CodecPro-Bold.ttf");
}
@font-face {
  font-family: "CeraPro Black";
  src: url("./fonts/CeraPro-Black.ttf");
}
@font-face {
  font-family: "CeraPro Bold";
  src: url("./fonts/CeraPro-Bold.ttf");
}
@font-face {
  font-family: "CeraPro Medium";
  src: url("./fonts/CeraPro-Medium.ttf");
}
@font-face {
  font-family: "GoshaSans Bold";
  src: url("./fonts/GoshaSans-Bold.ttf");
}
@font-face {
  font-family: "GoshaSans Regular";
  src: url("./fonts/GoshaSans-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.ttf");
}
@media (max-width: 767px) {
  .main-nav {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  .main-nav {
    margin-left: 20vw;
  }
}
.main-nav a {
  font-family: "Eurostyle MN";
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

@-webkit-keyframes slideDown {
  0% {
    top: -100vh;
  }
  100% {
    top: 0vh;
  }
}

@keyframes slideDown {
  0% {
    top: -100vh;
  }
  100% {
    top: 0vh;
  }
}
@-webkit-keyframes slideUp {
  0% {
    top: 0vh;
  }
  100% {
    top: -100vh;
  }
}
@keyframes slideUp {
  0% {
    top: 0vh;
  }
  100% {
    top: -100vh;
  }
}
.slideDown {
  -webkit-animation: slideDown;
          animation: slideDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slideUp {
  -webkit-animation: slideUp;
          animation: slideUp;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header {
  margin-top: 1vh;
  margin-bottom: 5vh;
}
header .row {
  position: relative;
}

.container-fluid {
  margin-left: 0px;
}

.link {
  border-bottom: 3px solid #7094fe;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
}
.link p {
  margin-bottom: 0px;
  font-size: 2rem;
}

.toggle-nav {
  display: flex;
  z-index: 100;
  width: 100vw;
  position: absolute;
  background-color: black;
  top: -200vh;
  font-size: 2rem;
}
.toggle-nav .close-btn {
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: 2rem;
}
.toggle-nav a {
  color: white;
  font-family: "Eurostyle MN";
  text-decoration: none;
  font-size: 1.2rem;
}

.burger {
  position: absolute;
  right: 0.4rem;
  display: none;
}
@media (max-width: 767px) {
  .burger {
    display: block;
    width: 5rem;
  }
  .burger img {
    width: 100%;
  }
}

.firstSection {
  text-align: center;
  background-color: rgb(236, 241, 255);
  padding-top: 50px;
  padding-bottom: 50px;
  border-top-left-radius: 70% 10%;
  border-top-right-radius: 70% 10%;
  border-bottom-left-radius: 70% 10%;
  border-bottom-right-radius: 70% 10%;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .firstSection {
    margin-bottom: 140px;
  }
}
.firstSection button {
  margin-top: 2rem;
  border-width: 3px;
  border-color: rgb(236, 241, 255);
  color: rgb(236, 241, 255);
  background-color: black;
  font-size: 1.4rem;
  font-family: "Eurostyle MN";
  text-transform: uppercase;
  min-height: 4rem;
  min-width: 250px;
}
.firstSection button a {
  text-decoration: none;
}
.firstSection h1 {
  font-family: "Eurostyle MN";
  color: rgb(112, 148, 254);
  font-size: 4.8rem;
}
@media (max-width: 479px) {
  .firstSection h1 {
    font-size: 3rem;
  }
}
.firstSection p {
  font-size: 1.7rem;
  color: white;
  font-family: "Codec Pro Bold";
}

.blueContainer {
  background-color: black;
  padding-top: 10px;
  border-top-left-radius: 70% 10%;
  border-top-right-radius: 70% 10%;
  border-bottom-left-radius: 70% 10%;
  border-bottom-right-radius: 70% 10%;
  padding-bottom: 5vh;
}

@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.secondSection {
  margin-bottom: 20px;
}
<<<<<<< HEAD

.secondSection .canvasContainer {
  margin-left: auto;
  margin-right: auto;
}

=======
>>>>>>> 8d42d60ac3397b2501c86759c85deff763754bad
.secondSection .Note {
  background-color: black;
  color: white;
}
@media (max-width: 479px) {
  .secondSection .Note {
    font-size: 0.7rem;
  }
}
.secondSection .blackBorder {
  border: 1px solid black;
}
.secondSection .spinner {
  position: absolute;
}
.secondSection .spinner img {
  -webkit-animation: spinner;
          animation: spinner;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  width: 100px;
}
.secondSection .hidden {
  visibility: hidden;
}
.secondSection .carousel {
  background-color: rgba(142, 172, 255, 0.12);
}
.secondSection .carousel div {
  min-width: 4rem;
  max-width: 5rem;
}
.secondSection .canvasBlock {
  position: relative;
  border: 3px solid black;
  padding: 0px;
}
.secondSection h2 {
  font-size: 2.8rem;
  font-family: "Eurostyle MN";
}
.secondSection p {
  font-size: 1.3rem;
  font-family: "Codec Pro";
}
@media (min-width: 768px) {
  .secondSection {
    margin-bottom: 140px;
  }
}

.thirdSection {
  margin-bottom: 20px;
}
.thirdSection h2 {
  font-family: "Eurostyle MN";
  font-size: 2.8rem;
}
.thirdSection p {
  font-family: "Codec Pro Bold";
  font-size: 1.3rem;
}
.thirdSection h3 {
  font-family: "Eurostyle MN";
  font-size: 1.3rem;
}
@media (min-width: 768px) {
  .thirdSection {
    margin-bottom: 140px;
  }
}

.fourSection {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgb(236, 241, 255);
  margin-bottom: 20px;
}
.fourSection img {
  margin-bottom: 2vh;
}
.fourSection .logoBlock {
  text-align: center;
}
.fourSection h2 {
  font-family: "Eurostyle MN";
  font-size: 3rem;
  margin-bottom: 3.5rem;
}
.fourSection h3 {
  font-family: "Eurostyle MN";
  font-size: 1.4rem;
}
.fourSection p {
  font-family: "Codec Pro";
  font-size: 1.1rem;
}
@media (min-width: 768px) {
  .fourSection {
    margin-bottom: 140px;
  }
}

@media (min-width: 767px) {
  .fiveSection .imageBlock {
    min-height: 450px;
    background-color: rgb(236, 241, 255);
    margin-bottom: 4rem;
  }
}
@media (min-width: 767px) {
  .fiveSection .textBlock {
    min-height: 500px;
    background-color: rgb(142, 172, 255);
    margin-bottom: 4rem;
  }
}
.fiveSection h1 {
  color: black;
  font-size: 5rem;
  font-family: "Eurostyle MN";
  margin-bottom: 0px;
}
.fiveSection h2 {
  font-family: "Eurostyle MN";
  font-size: 2.8rem;
}
.fiveSection h3 {
  font-family: "Eurostyle MN";
  font-size: 1.3rem;
}
.fiveSection p {
  font-family: "Codec Pro";
  font-size: 1.2rem;
  color: black;
}

@media (min-width: 768px) {
  .container {
    width: 75vw;
    max-width: 1200px;
  }
}
@media (max-width: 479px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
  }
}
@-webkit-keyframes example {
  0% {
    visibility: visible;
    bottom: -10vh;
  }
  10% {
    bottom: 5vh;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes example {
  0% {
    visibility: visible;
    bottom: -10vh;
  }
  10% {
    bottom: 5vh;
  }
  100% {
    visibility: hidden;
  }
}
.baloon {
  visibility: visible;
  position: fixed;
  right: 5vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 3rem;
  font-size: 1.5rem;
  background-color: #4773ee;
  color: white;
  border-radius: 5px;
}
.baloon p {
  margin-bottom: 0px;
}

.animation {
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.sixSection {
  padding-top: 5vh;
  background-color: black;
  border-top-left-radius: 70% 10%;
  border-top-right-radius: 70% 10%;
}
@media (min-width: 767px) {
  .sixSection {
    padding-bottom: 1rem;
  }
}
.sixSection h1 {
  font-size: 3.5rem;
  font-family: "Eurostyle MN";
  color: rgb(142, 172, 255);
  line-height: 1;
}
@media (max-width: 479px) {
  .sixSection h1 {
    font-size: 2.8rem;
  }
}
.sixSection p {
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  font-family: "Codec Pro";
}
.sixSection input {
  padding-left: 0.5rem;
  margin-bottom: 1vh;
  background-color: black;
  border: none;
  border-bottom: rgb(142, 172, 255) solid 3px;
  color: aliceblue;
}
.sixSection textarea {
  padding-left: 0.5rem;
  min-height: 5rem;
  color: aliceblue;
  margin-bottom: 1vh;
  background-color: black;
  border: rgb(142, 172, 255) solid 3px;
}
.sixSection .inputBorder:focus {
  outline: none;
}
.sixSection label {
  color: rgb(236, 241, 255);
  font-family: "Montserrat";
}
.sixSection button {
  border: none;
  background-color: rgb(142, 172, 255);
  font-family: "Eurostile MN";
  font-size: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

canvas {
  background-color: lightblue;
  width: 100% !important;
  height: 100% !important;
  touch-action: none;
}

@media (max-width: 479px) {
  h2 {
    font-size: 2rem !important;
  }
}
footer {
  height: 4rem;
  background-color: rgb(142, 172, 255);
}
@media screen and (max-width: 767px) {
  footer {
    height: 6rem;
    justify-content: space-evenly;
  }
}/*# sourceMappingURL=style.css.map */