
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

@import 'fonts.scss';
@import 'firstSection.scss';



// первый блок
nav{
    background-color: aquamarine;
    width: 45vw ;
}
header{
}

.firstSection{
    button{
        border-width: 3px;
        border-color: rgba(236, 241, 255, 1);
        color: rgba(236, 241, 255, 1);
        background-color: black;
        font-size: 1.5rem;
        min-height: 4rem;
    }
    h1{
        font-size: 6rem;
    }
    p{
        font-size: 1.8rem;
    }
}

.secondSection{

}