* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "fonts.scss";
@import "firstSection.scss";

// первый блок
nav {
  // width: 45vw ;
  a {
    font-family: "Eurostyle MN";
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
  }
}
header {
    margin-top: 1vh;
    margin-bottom: 5vh;
}

.firstSection {
  text-align: center;
  background-color: rgba(236, 241, 255, 1);
  padding-top: 50px;
  padding-bottom: 50px;
  border-top-left-radius: 70% 10%;
  border-top-right-radius: 70% 10%;
  border-bottom-left-radius: 70% 10%;
  border-bottom-right-radius: 70% 10%;
  margin-bottom: 140px;
  button {
    margin-top: 2rem;
    border-width: 3px;
    border-color: rgba(236, 241, 255, 1);
    color: rgba(236, 241, 255, 1);
    background-color: black;
    font-size: 1.5rem;
    font-family: "Eurostyle MN";
    text-transform: uppercase;
    min-height: 4rem;
    min-width: 250px;
    // max-width: 250px !important;
  
    a{
      text-decoration: none;
    }
  }
  h1 {
    font-family: "Eurostyle MN";
    color: rgba(112, 148, 254, 1);
    font-size: 6rem;
  }
  p {
    font-size: 1.8rem;
    color: white;
    font-family: "Codec Pro Bold";
  }
}

.blueContainer {
  background-color: black;
  padding-top: 10px;
  border-top-left-radius: 70% 10%;
  border-top-right-radius: 70% 10%;
  border-bottom-left-radius: 70% 10%;
  border-bottom-right-radius: 70% 10%;
  padding-bottom: 5vh;
}

.secondSection {
  .blackBorder{
    border: 1px solid black;
  }


  .spinner{
    position: absolute;
    
  }
  .hidden{
    visibility: hidden;
  }

  .carousel {
    background-color: rgba(142, 172, 255, 0.12);
    div{
      min-width: 4rem;
    }
  }
    .canvasBlock{
        position: relative;
        border: 3px solid black;
        min-height: 40vh;
    }
  h2 {
    font-size: 3rem;
    font-family: "Eurostyle MN";
  }
  p {
    font-size: 1.4rem;
    font-family: "Codec Pro";
  }
  margin-bottom: 140px;
}

.thirdSection {
  h2 {
    font-family: "Eurostyle MN";
    font-size: 3rem;
  }
  p {
    font-family: "Codec Pro Bold";
    font-size: 1.4rem;
  }
  h3 {
    font-family: "Eurostyle MN";
    font-size: 1.4rem;
  }
  margin-bottom: 140px;
}
.fourSection {
  padding-top: 3rem;
  padding-bottom: 3rem;
  img {
    margin-bottom: 2vh;
  }
  background-color: rgba(236, 241, 255, 1);
  .logoBlock {
    text-align: center;
  }
  h2 {
    font-family: "Eurostyle MN";
    font-size: 3rem;
    margin-bottom: 3.5rem;
  }
  h3 {
    font-family: "Eurostyle MN";
    font-size: 1.4rem;
  }
  p {
    font-family: "Codec Pro";
    font-size: 1.1rem;
  }
  margin-bottom: 140px;
}
.fiveSection {
    .imageBlock{
        min-height: 450px;
        background-color: rgba(236, 241, 255, 1);
        padding-top: 5vh;
        padding-left:5vw;
        margin-bottom: 4rem;
    }
    .textBlock{
        min-height: 500px;
        background-color: black;
        margin-bottom: 4rem;
    }

    h1{
        color:rgba(142, 172, 255, 1);
        font-size: 6rem ;
        font-family: "Eurostyle MN";
        margin-bottom: 0px;
    }
  h2 {
    font-family: "Eurostyle MN";
    font-size: 3rem;
    margin-bottom: 3.5rem;
  }
  h3 {
    font-family: "Eurostyle MN";
    font-size: 1.4rem;
  }
  p {
    font-family: "Codec Pro";
    font-size: 1.3rem;
    color:rgba(249, 250, 255, 1);
  }
}
@media (min-width: 768px) {
  .container {
    width: 75vw;
  }
}

.sixSection{

    padding-top:5vh;
    background-color: black;
    border-top-left-radius: 70% 10%;
    border-top-right-radius: 70% 10%;
 
    h1{
        font-size: 4rem;
        font-family: "Eurostyle MN";
        color:rgba(142, 172, 255, 1);
        line-height: 1;
    }
    p{
        font-size: 1.4rem;
        color:rgba(255, 255, 255, 1);
        font-family: 'Codec Pro';
    }


    input{
    
      padding-left: 0.5rem;
       margin-bottom: 1vh;
       background-color: black;
       border: none;
       border-bottom: rgba(142, 172, 255, 1)  solid 3px;
       color:aliceblue;
     
    }
   
    textarea{
      padding-left: 0.5rem;
      min-height: 5rem;
      color:aliceblue;
        margin-bottom: 1vh;
        background-color: black;
        border: rgba(142, 172, 255, 1)  solid 3px;
    
    }
    .inputBorder:focus{
      outline: none;
      // color: red;
    }
    label{
      color:rgba(236, 241, 255, 1);
      font-family: 'Montserrat';
    }
    button{
      border: none;
      background-color: rgba(142, 172, 255, 1);
      font-family: 'Eurostile MN';
      font-size: 1.5rem;
      padding-bottom: 1rem;
      padding-top: 1rem;
    }
}
